/* root variables */
:root {
    /* white and black */
    --white: #ffffff;
    --black: #000000;

    /* page colours */
    --darkSlateGrey: darkslategrey;
    --darkGrey: darkgrey;
    --pageColour: #1A1A1D;
    --greyAccentColour: #4E4E50;
    --redAccentColour3: #6F2232;
    --redAccentColour2: #950740;
    --redAccentColour1: #C3073F;

    /* buttons & special effects colours */
    --red: red;
    --hoverRed: #EE3342;

    --green: green;
    --hoverGreen: #4CAF50;
}
/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* body background color */
body {
    background-color: var(--pageColour);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navigation bar */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--redAccentColour3);
    height: 64px;
}
#logo_img {
    width: 100px;
    height: 100px;
}
#navbar_flex_container {
    display: flex;
}
.navbar_item {
    list-style-type: none;
}
.navbar_item a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 22px 32px;
    color: var(--white);
    border-radius: 8px;
    transition: background-color 0.3s;
}
.navbar_item a:hover {
    background-color: var(--redAccentColour2);
}

/* main content */
#main_content {
    flex: 1;
}

/* footer */
#footer {
    background-color: var(--redAccentColour3);
    padding: 8px;
    text-align: center;
}
#copyright_text {
    color: var(--white);
    font-size: 14px;
}

/* button styling */
.btn {
    padding: 0.8rem 2rem;
    width: 125px;
    margin: 0 0.5rem;
    color: var(--white);
    border: none;
}