/* root variables */
:root {
    /* white and black */
    --white: #ffffff;
    --black: #000000;

    /* page colours */
    --darkSlateGrey: darkslategrey;
    --darkGrey: darkgrey;
    --pageColour: #1A1A1D;
    --greyAccentColour: #4E4E50;
    --redAccentColour3: #6F2232;
    --redAccentColour2: #950740;
    --redAccentColour1: #C3073F;

    /* buttons & special effects colours */
    --red: red;
    --hoverRed: #EE3342;

    --green: green;
    --hoverGreen: #4CAF50;
}
/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* body background color */
body {
    background-color: var(--pageColour);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navigation bar */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--redAccentColour3);
    max-height: 100px;
}
#logo_img {
    max-width: 100px;
    max-height: 100px;
}

/* click dropdown */
.dropbtn {
    background-color: var(--redAccentColour3);
    color: var(--white);
    font-size: 1.2rem;
    padding: 39px 40px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--redAccentColour2);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--redAccentColour2);
    min-width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: var(--white);
    font-size: 1.2rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color 0.4s;
}
.dropdown a:hover {
    background-color: var(--redAccentColour3);
}
.show {
    display: block;
}

/* main content */
#main_content {
    flex: 1;
}

/* footer */
#footer {
    background-color: var(--redAccentColour3);
    padding: 6px;
    text-align: center;
}
#copyright_text {
    color: var(--white);
    font-size: 0.85rem;
}

/* button styling */
.btn {
    padding: 0.8rem 2rem;
    width: 125px;
    margin: 0 0.5rem;
    color: var(--white);
    border: none;
}